<app-loading *ngIf="flagSpinner; else showFormat"></app-loading>
<ng-template #showFormat>
  <div class="buttonEdit" *ngIf="idFeddBack != null">
    <button mat-raised-button (click)="enableForm()">Edit</button>
  </div>
  <div class="container">
    <form [formGroup]="feedBackForm" (ngSubmit)="guardar()">
      <div class="header">
        <div id="logo">
          <img class="logo" src="../../../assets/images/logo.jpg" />
        </div>
        <div class="boss" translate="no">Feedback</div>
      </div>

      <div class="instructions">
        <h4>Instructions</h4>
        <ol>
          <li>
            With your leader, identify 3 strengths and 3 areas of development of
            the evaluated quarter.
          </li>
          <li>Write 3 actions to improve your performance.</li>
          <li>Use the following chart to fill out your Action Plan.</li>
          <li>
            Visualize possible risks and write down the actions that you must
            avoid to guarantee compliance with your Action Plan.
          </li>
          <li>Define the next review date.</li>
          <li>Save the format.</li>
        </ol>
      </div>

      <div id="logo">
        <img class="logo" src="../../../assets/images/SMART.jpg" />
      </div>

      <div class="seccion1">
        <div class="nameEmployee">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Employee Name</mat-label>
            <input
              type="text"
              matInput
              formControlName="applicantsName"
              [matAutocomplete]="auto1"
            />
            <mat-autocomplete
              #auto1="matAutocomplete"
              [displayWith]="displayFnAplicantsName"
              (optionSelected)="getaplicantsNameId($event)"
            >
              <mat-option
                [id]="employee.Zoho_ID"
                [value]="employee.FirstName + ' ' + employee.LastName"
                *ngFor="
                  let employee of filteredOptionsApplicantsNameId
                    | async
                    | order: 'FirstName'
                "
              >
                {{ employee.FirstName }} {{ employee.LastName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>{{ errors(feedBackForm, "applicantsName") }}</mat-error>
          </mat-form-field>
        </div>
        <div class="date">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" />
          </mat-form-field>
        </div>
      </div>

      <div class="seccion1">
        <div class="nameBoss">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Leader Name</mat-label>
            <input
              type="text"
              matInput
              formControlName="nameImmediateBoss"
              [matAutocomplete]="auto2"
            />
            <mat-autocomplete
              #auto2="matAutocomplete"
              [displayWith]="displayFnInmediateBoss"
              (optionSelected)="getInnmediateBossId($event)"
            >
              <mat-option
                [id]="employee.Zoho_ID"
                [value]="employee.FirstName + ' ' + employee.LastName"
                *ngFor="
                  let employee of filteredOptionsInnmediateBoss
                    | async
                    | order: 'FirstName'
                "
              >
                {{ employee.FirstName }} {{ employee.LastName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>{{
              errors(feedBackForm, "nameImmediateBoss")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="numberFeedBack">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Feed Back number</mat-label>
            <input matInput formControlName="feedBackNumber" />
            <!-- <mat-error>{{
          errors(personalForm, "Requeriments_number")
        }}</mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="seccion1">
        <div class="trimester">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Trimester</mat-label>
            <mat-select
              formControlName="trimester"
              (selectionChange)="numberTrimester($event)"
            >
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>
            <mat-error>{{ errors(feedBackForm, "trimester") }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <app-feed-back-seccion1
        (addedDevelopment)="getDevelopment($event)"
        [sendFeedBack]="sendFeedBack.asObservable()"
        [eventEnableForm]="eventEnableForm.asObservable()"
      ></app-feed-back-seccion1>
      <app-feed-back-seccion2
        (addedActivity)="getActivity($event)"
        [sendFeedBack]="sendFeedBack.asObservable()"
        [eventEnableForm]="eventEnableForm.asObservable()"
      ></app-feed-back-seccion2>
      <app-feed-back-seccion3
        (addedAvoid)="getAvoid($event)"
        [sendFeedBack]="sendFeedBack.asObservable()"
        [eventEnableForm]="eventEnableForm.asObservable()"
      ></app-feed-back-seccion3>

      <div class="divider"></div>
      <div class="seccion13-1">
        <div class="reviewDate">Review date</div>
        <div class="fieldDate">
          <mat-form-field appearance="fill">
            <!-- <mat-label>Review Date</mat-label> -->
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="reviewDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              (selectedChanged)="onDate($event)"
            ></mat-datepicker>
            <mat-error>{{ errors(feedBackForm, "reviewDate") }}</mat-error>
          </mat-form-field>
        </div>
        <div class="questions">
          <ul class="listQuestions">
            <li *ngIf="flagQ1">
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Result % Q1</mat-label>
                <input matInput formControlName="resultQ1" type="number" />
                <mat-error>{{ errorsNumber(feedBackForm, "resultQ1") }}</mat-error>
              </mat-form-field>
            </li>
            <li *ngIf="flagQ2">
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Result % Q2</mat-label>
                <input matInput formControlName="resultQ2" type="number" />
                <mat-error>{{ errorsNumber(feedBackForm, "resultQ2") }}</mat-error>
              </mat-form-field>
            </li>
            <li *ngIf="flagQ3">
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Result % Q3</mat-label>
                <input matInput formControlName="resultQ3" type="number" />
                <mat-error>{{ errorsNumber(feedBackForm, "resultQ3") }}</mat-error>
              </mat-form-field>
            </li>
            <li *ngIf="flagQ4">
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Result % Q4</mat-label>
                <input matInput formControlName="resultQ4" type="number" />
                <mat-error>{{ errorsNumber(feedBackForm, "resultQ4") }}</mat-error>
              </mat-form-field>
            </li>
            <li *ngIf="flagQ1 || flagQ2 || flagQ3 || flagQ4">
              <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>Total</mat-label>
                <input matInput formControlName="total" type="text" />
              </mat-form-field>
            </li>
          </ul>
        </div>
      </div>
      <div class="divider"></div>

      <div class="boton" *ngIf="flagButton || idFeddBack == null">
        <button class="button button1" type="submit">Save</button>
      </div>
    </form>
  </div>
</ng-template>
